@use './variables'; 

.encabezado-flexbox {

    position: sticky; 
    top: 0;           
    z-index: 1000;    
    
    display: flex;                // 1. Activa la fila
    justify-content: space-between; 
    align-items: center;          
    padding: 10px 5%;             
    background-color: variables.$negro; 

    .logo-container {
        img {
            height: 60px;         // 5. Ajusta este valor según prefieras el tamaño
            width: auto;          // Mantiene la proporción original
            display: block;
        }
    }

    .nav-principal {
        .practica-flex {
            display: flex;        // 6. Los botones también deben ser una fila
            list-style: none;     // Quita los puntos
            gap: 20px;            // Espacio moderno entre links
            margin: 0;
            padding: 0;
            align-items: center;
        }
    }


    // --- AJUSTE RESPONSIVE ---
    @media (max-width: 768px) {

        flex-direction: column; 
        padding: 15px;

        .nav-principal {
            width: 100%; 
            
            .practica-flex {
                justify-content: center; 
                gap: 10px;
                padding-top: 15px;
                
                li a {
                    font-size: 14px; 
                }
            }
        }

        .logo-container {
        img {
            height: 50px; 
            width: auto;
            
        }
    }
    } /* // max-width: 768px*/


}

a {
  text-decoration: none;
  color: variables.$blanco;
}

.btn-active {
  background: variables.$color-primario;
  padding: 8px 10px;
  border-radius: 5px;
  text-transform: none;
  text-decoration: none;
  color: variables.$blanco;
}




