$color-primario: #8d27f4;
$color-secundario: #bf82fc;
$color-terciario: #633093;
$gris-cajas: #161616;
$tipografias-alternas: #94a3b8;
$acento1: #17778f;
$acento2: #21d2ed;
$negro: #000000;
$blanco: #ffffff;
$gris-medio: #666;
$gris-claro: #f9f9f9;
$gris-medio: #bababa;
$gris-oscuro: #151515;



$tipografia-encabezados: 'Montserrat', sans-serif;
$tipografia-body: 'Inter', sans-serif;

$ancho-maximo: 1200px;

$breakpoint-mobile: 768px;

$corner-25: 25px;
$corner-16: 16px;
$corner-8: 8px;
$corner-5: 5px;
$corner-3: 3px;

$borde-bajo: solid #333 1px;
